extends layout

block content
  h1 Reset Your Password
  form
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', placeholder='Email')
      .form-group
        label(for='password') Password
        input#oldPassword.form-control(type='password', placeholder='Old Password')
      .form-group
        label(for='password') Password
        input#newPassword.form-control(type='password', placeholder='New Password')
    button#resetBtn.btn.btn-default(type='submit') Reset


block scripts
  script(src="/js/changepass.js")
