extends layout

block content
  .jumbotron.text-center
    h2 My Trading Dashboard
  button#view-transactions View Transactions
  button#view-tradingpage View Trading Page
  button#view-create-item View Create Item Page
  br
  .form
    | Name:        
    input#name(type="text") 
    br
    | Desctiption:        
    input#description(type='text')
    br
    button#addBtn Add New 

  .container#list
  
block scripts
  script(src="/js/dashboard.js")