extends layout

block content
  .jumbotron.text-center
    h2 My Trading Dashboard
  button#view-transactions View Transactions
  button#view-tradingpage View Trading Page
  button#view-create-item View Create Item Page
  .container#list
  
block scripts
  script(src="/js/dashboard.js")