extends layout

block content
  .jumbotron.text-center
    h2 Item details page
  br
  .form
    | Edit Name:        
    input#name(type="text")
    br
    | Edit Desctiption:        
    input#description(type='text')
    br
    button#saveEditsBtn Save Edits
    .itemIdDiv(id='#{itemId}')

  .container#list
  
block scripts
  script(src="/js/editAndShowDetailsPage.js")