extends layout

block content
  .jumbotron.text-center
    h2 Album: #{albumName}
  a#backToProfile(href='/users/profilepage') Back to My Albums
  br
  br
  form(action='/images/uploadimage/'+'#{albumId}', method='post', enctype='multipart/form-data')
    input(type='file', name='images', id='images' multiple=true)
    button Submit 
    br
    br
  form
    | Edit Album Name:        
    input#album-name(type="text")
    |    Edit Album Description:        
    input#album-description(type='text')
    br
    button#saveEditsBtn Save Edits
    .itemIdDiv(id='#{albumId}')
    br
    br
  .container#list

block scripts
  script(src="/js/editAndShowDetailsPage.js")