extends layout

block content
  h1= title
  p
    h4 A photo album for all your cherised memories
  img.splashpage(src='http://ibackpackcanada.com/wp-content/uploads/2009/05/things-to-do-in-rocky-mountains.jpg')
block scripts
  script(src="/js/index.js")
