extends layout

block content
  .jumbotron.text-center
    h2 My Albums
  br
  .form
    a#toAllUsersAlbums(href='/albums/allusersalbums') Public Albums
    br
    h5 Create a New Album 
    br
    | Album Name:  
    br      
    input#name(type="text") 
    br
    | Album Description:  
    br      
    input#description(type='text')
    br
    button#addBtn Create New Album 
  .container#list
  
block scripts
  script(src="/js/profilePage.js")