extends layout

block content
  .jumbotron.text-center
    h2 My Albums
  br
  .form
    | Name:  
    br      
    input#name(type="text") 
    br
    | Description:  
    br      
    input#description(type='text')
    br
    button#addBtn Create New Album 
  .container#list
  
block scripts
  script(src="/js/profilePage.js")