extends layout

block content
  .jumbotron 
    h2 Choose the item you would like to offer. 
  .requesteeItemBox 
    h3 The item you wanted to trade for:
    .requesteeItemObject(id='#{item._id}', data-type='#{item.ownerObj}') Item: #{item.itemName} 
    | Description : #{item.description}
  br
  button.requestTradeBtn Request Trade
  br
  h5 Select an item below before requesting a trade.

  h3 The items you can trade with: 
  .container#list
    

block scripts
  script(src="/js/requesterChoicePage.js")


  