extends layout

block content
  .jumbotron.text-center
    h2 Trading Arena
    a(href='/users/dashboard') Back
    .message Click on the item you want to trade for. 
  .container#list
  
block scripts
  script(src="/js/tradingPage.js")