extends layout

block content
  .jumbotron.text-center
    h2 Transactions View 
  a#backToDash(href='/dashboard') Dashboard
  h1 Trades you proposed
  .container#requestlist
  h1 Trades proposed to you
  .container#acceptDeclinelist
  
block scripts
  script(src="/js/transactionsView.js")