extends layout

block content
  .jumbotron.text-center
    h2 Transactions View 
  a#backToDash(href='/dashboard') Dashboard
  .container#requestlist
  .container#acceptDeclinelist
  
block scripts
  script(src="/js/transactionsView.js")